## Deliverable 3. Create a Travel Itinerary Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [22]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Crotone,IT,68.90,broken clouds,39.0851,17.1178,Helios Hotel
1,13,Cape Town,ZA,55.09,scattered clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,14,Iglesias,IT,68.76,scattered clouds,39.3114,8.5350,"B&B Mare Monti Miniere - Sardinia sud-ovest, t..."
3,16,Port Lincoln,AU,55.83,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
4,19,Jamestown,US,69.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [23]:
clean_hotel_df = vacation_df.dropna()
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Crotone,IT,68.90,broken clouds,39.0851,17.1178,Helios Hotel
1,13,Cape Town,ZA,55.09,scattered clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,14,Iglesias,IT,68.76,scattered clouds,39.3114,8.5350,"B&B Mare Monti Miniere - Sardinia sud-ovest, t..."
3,16,Port Lincoln,AU,55.83,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
4,19,Jamestown,US,69.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...,...
184,651,Sicuani,PE,60.85,overcast clouds,-14.2694,-71.2261,Wilkamayu Hotel
185,656,Lianran,CN,63.14,clear sky,24.9227,102.4850,半岛酒店
186,667,Halifax,CA,57.69,broken clouds,44.6453,-63.5724,Hotel Halifax
187,668,Carahue,CL,52.00,broken clouds,-38.7000,-73.1667,Hospedaje Familiar
188,680,Namchi,IN,64.69,moderate rain,27.1667,88.3500,Sumnima Homestay

In [24]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Crotone"]
vacation_end = vacation_df.loc[vacation_df['City']  == "Cape Town"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Iglesias"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Port Lincoln"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Jamestown"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure